.Pagination {
    text-align: right;
    background-color: #fafafa;
    margin: 0 100px;
    padding: 20px 50px 50px 50px;

  }
  
  .Pagination-btn {
    min-width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    border: none;
    background: inherit;
    cursor: pointer;
  }
  
  .Pagination-btn:hover {
    background: #e1e1e1;
  }
  
  .Pagination-btn_active,
  .Pagination-btn_active:hover {
    background: #0087e9;
    color: #ffffff;
  }
  
  .Pagination-dots {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  