.Item{
    width: 100%;
    display: flex;
   margin: 20px 0;
   cursor: pointer;
}



.Item-Avatar{
    max-width: 70px;
    margin-right: 30px;
}


.Item-Link{
    text-decoration: none;
    color: black;
}
.Item-Link:hover{
    text-decoration: underline;
    color: rgb(17, 0, 255);
}