.Container {
  flex-grow: 1;
  margin: 0 100px;
  background-color: #fafafa;
  padding: 50px 50px 20px 50px ;
  text-align: center;
  height: 70px;
}

.Container-label {
  font-size: 18px;
  line-height: 120%;
  margin-right: 10px;
}

.Container-search {
  width: 40%;
  padding: 5px;
}

.Container-btn {
  padding: 5px 50px;
  margin-left: 20px;
  justify-self: end;
  margin-bottom: 20px;
}
/*  */
#box {
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    background-color: #fdfdfd;
    margin: 5px 50px;
    padding: 5px 20px;
    text-align: left;
  
    #box__link {
      cursor: pointer;
  
    }
  
    #box__str {
      font-size: 16px;
      line-height: 130%;
      margin: 0;
  
      &:first-child {
        font-weight: bold;
        margin-bottom: 5px;
      }
  
      &:nth-child(3) {
        font-size: 12px;
        opacity: 0.5;
        margin-bottom: 10px;
      }
    }
  }